
// ### Primary

$main-color: hsl(158, 36%, 37%);
$bgcolor: hsl(30, 38%, 92%);
$link-color: hsl(228, 53%, 49%);

// ### Neutral

$perfume-text: hsl(212, 21%, 14%);
$description-color: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);
